div#bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}

div#bg:hover{
    top:0px;
    left:5px;
}

a{
	text-decoration:none;
}
		
li:hover{
	background-color: #FFFACD;
	color: #000000;
}
		
a:link{
	color: #BEBEBE;
}
		
a:visited{
	color: #BEBEBE;
}

img{
    border: 0px;
}