<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>國立中央大學總教學中心</title>
  	<link rel="stylesheet" type="text/css" href="mainStyles.css" /> 
    <asp:ContentPlaceHolder ID="header" runat="server">    </asp:ContentPlaceHolder>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="history.aspx"><img alt="Banner" src="images/banner001.jpg" height="10%" width="100%" /></a>
        </div>
        <br><br>
        <div id="blank">&nbsp;</div>
        <div id="menuBar">
            <!-- menu link -->
		    <img src="menuImg/menuTop.jpg" alt="" width="70%" style="vertical-align:bottom;display:block;">
            <a href="history.aspx"><img src="menuImg/history.jpg" alt="歷史沿革" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="director.aspx"><img src="menuImg/director.jpg" alt="中心主任" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="units.aspx"><img src="menuImg/units.jpg" alt="所屬單位" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="committee.aspx"><img src="menuImg/committee.jpg" alt="委員會代表" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="rules.aspx"><img src="menuImg/law.jpg" alt="相關法規" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="project.aspx"><img src="menuImg/project.jpg" alt="執行計畫" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="otherWeb.aspx"><img src="menuImg/otherWeb.jpg" alt="相關網站" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="download.aspx"><img src="menuImg/formDownload.jpg" alt="表格下載" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="contactUs.aspx"><img src="menuImg/contactUs.jpg" alt="聯絡我們" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="evaWeb/Default.aspx" target="_blank"><img src="menuImg/evaLink.jpg" alt="通識教育評鑑" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <img src="menuImg/menuBottom.jpg" alt="" width="70%" style="display:block;">

		    <div style="text-align:left;margin-top:5%;font-size: 16px;" class="fontFamily">
			    &nbsp;&nbsp; 目前瀏覽人次：<script src="http://www.dreamhome.com.tw/escounter/counter.asp?name=ncuotc&dir=043"></script>
		    </div>
        </div>

        <div id="content">
            <asp:ContentPlaceHolder ID="mainContent" runat="server">

            </asp:ContentPlaceHolder>
        </div>
        <br>
	    <div id="footer">
		    <img src="images/banner002.jpg" alt="Banner" width="40%" height="10%" />
	    </div>
    </div>
</body>
</html>
