<%@ Master Language="C#" AutoEventWireup="true" CodeFile="evaMasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>國立中央大學通識教育評鑑網頁</title>
  	<link rel="stylesheet" type="text/css" href="mainStyles.css" /> 
    <asp:ContentPlaceHolder ID="header" runat="server">    </asp:ContentPlaceHolder>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="target.aspx"><img alt="Banner" src="menuImg/header.jpg" height="10%" width="100%" /></a>
        </div>
        <br><br>
        <div id="blank">&nbsp;</div>
        <div id="menuBar">
		    <img src="menuImg/menuTop.jpg" alt="" width="70%" style="vertical-align:bottom;display:block;">
            <img src="menuImg/news.jpg" alt="" width="70%" style="vertical-align:bottom;display:block;">
		    <a href="target.aspx"><img src="menuImg/target.jpg" alt="通識教育評鑑效標" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="schedule.aspx"><img src="menuImg/schedule.jpg" alt="評鑑時程表" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="content1.aspx"><img src="menuImg/content.jpg" alt="評鑑內容" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="rules.aspx"><img src="menuImg/rules.jpg" alt="評鑑相關法規" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <a href="result.aspx"><img src="menuImg/result.jpg" alt="評鑑結果" width="70%" style="vertical-align:bottom;display:block;"></a>
		    <img src="menuImg/menuBottom.jpg" alt="" width="70%" style="vertical-align:top;display:block;">


        </div>

        <div id="content">
            <asp:ContentPlaceHolder ID="mainContent" runat="server">

            </asp:ContentPlaceHolder>
        </div>
        <br>
	    <div id="footer">
		    <img src="menuImg/foot.jpg" alt="Banner" width="50%" height="10%" />
	    </div>
    </div>
</body>
</html>