div#wrapper {
    margin: 0 auto 30px;
    width: 1280px;
}
div#blank {
	float: left;
	width: 1%;
}
div#menuBar {
	float: left;
	width: 25%;
}
div#content {
	float: left;
	width: 74%;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
}
div#footer {
	clear: both;
	text-align: center;
}
a{
	text-decoration: none;
}

a:link{
	color:#0000FF;
}

a:visited{
	color:#0000FF
}

img{
	border-style: none;
    border-color: inherit;
    border: 0px;
    margin-top: 0px;
}
.fontFamily{
	font-family: Microsoft JhengHei,DFKai-sb,Times New Roman,Georgia,Serif;
}